<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <span>
      <img src="../assets/img/logo.png" alt="">
    </span>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light fondo">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal info" >Ventor Soft</h1>
    <p class="lead font-weight-normal info">Software a tu alcance</p>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">¡Sé más productivo y profesional con Ventor!</h1>
  <p class="lead">Gestiona tu base de datos, controla las actividades de tus vendedores, genera reportes en segundos, y mucho más con ventor
    el software diseñado para tu empresa.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <i class="fa fa fa-user-plus"></i>
          SEGUIMIENTO</h4>
      </div>
      <div class="card-body">

        <p>
          Convierte a tus ejecutivos en asesores profesionales y gana las ventas que se pierden por falta de seguimiento a los prospectos.
        </p>

      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <i class="fa fa fa-tachometer-alt"></i>
          VELOCIDAD</h4>
      </div>
      <div class="card-body">
        <p>
          Tus vendedores sorprenderán a sus clientes y cerrarán más ventas, al enviar cotizaciones y correos más rápido que la competencia
        </p>

      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <i class="fa fa fa-graduation-cap"></i>
          CAPACITACIÓN</h4>
      </div>
      <div class="card-body">
        <p>
          Con Ventor Soft ! estarás actualizado en estrategias comerciales que utilizan los expertos y podrás profesionalizar a tus
          vendedores.
        </p>

      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">

      <div class="col-6 col-md">
        <h5>Conéctate con nosotros</h5>
        <p>
          <i class="fa fa-phone-square"></i>
          3137578223
        </p>
        <p>
          <i class="fa fa-envelope"></i>
          luis.380162110372@ucaldas.edu.co
        </p>
      </div>
      <div class="col-6 col-md">


        <h5>Ventor
          <i class="fa fa-hand-pointer"></i>
        </h5>
        <p>
          Somos un equipo de personas apasionadas cuya meta es mejorar la vida de todos a través de productos disruptivos. Nosotros
          construimos productos geniales para resolver sus problemas empresariales. Nuestros productos están diseñados para
          empresas pequeñas y medianas que quieren optimizar su rendimiento.
        </p>
      </div>
    </div>
  </footer>
</div>
